* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: auto;
}

.active {
  text-decoration: underline;
}

header {
  margin-bottom: 40px;
}

header .logo {
  text-align: center;
}

header .menu-list {
  display: flex;
  justify-content: center;
}

header .menu-list ul {
  display: flex;
}

header .menu-list ul li {
  padding: 20px;
}

header .menu-list ul li a {
  font-size: 25px;
  text-transform: uppercase;
  color: gray;
}

header .menu-list ul li:hover {
  background-color: lightblue;
}

header .menu-list ul li:hover a {
  color: black;
}

main {
  /* prodotti */
  /* / prodotti */
  /* news */
  /* / news */
  /* specifics */
  /* / specifics */
}

main .image-home {
  width: 100%;
  height: 850px;
  background-image: url(/images/molisana-home.jpg?cb7db241726fb646d7e1c8553429c07c);
}

main .container .products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .container .products-container h2 {
  flex-basis: 100%;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
  font-size: 32px;
  color: gray;
}

main .container .products-container .cards {
  flex-basis: calc(100% / 3);
  position: relative;
}

main .container .products-container .cards img {
  width: 100%;
}

main .container .products-container .cards .layover {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
  border: 4px solid black;
  padding: 20px 0;
  background-color: white;
}

main .container .products-container .cards .layover a {
  width: 100%;
  padding: 20px 0;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

main .container .products-container .cards:hover {
  opacity: 0.7;
  cursor: pointer;
}

main .container .products-container .cards:hover .layover {
  display: block;
}

main .news-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main .news-container h2 {
  flex-grow: 1;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

main .news-container .box-container {
  width: 100%;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url(/images/fondo-pag-speciali.jpg?06a79f19fbb4489a17e2dff67ce37137);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .news-container .box-container .box {
  flex-basis: 40%;
  height: 300px;
  margin: 20px 0;
  padding: 20px 40px;
  border: 4px solid gray;
  border-radius: 5px;
  background-color: white;
  font-size: 18px;
  line-height: 1.6;
}

main .specifics h1 {
  width: 100%;
  color: gray;
  text-align: center;
  margin-bottom: 40px;
}

main .specifics img {
  width: 100%;
}

main .specifics .description {
  margin: 40px auto;
  line-height: 1.8;
  font-size: 20px;
  font-style: italic;
  text-align: justify;
}

main .specifics .description p {
  margin-bottom: 40px;
}

main .specifics .description .ico {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .specifics .description .ico i {
  font-size: 28px;
}

footer {
  width: 100%;
  height: 120px;
  margin-top: 40px;
  background-image: url(/images/footer-montagne-bottom.jpg?d53b01335f4c26b84b40ca2ab0a64ece);
  background-size: contain;
  background-repeat: no-repeat;
}

