main{
    .image-home{
        width: 100%;
        height: 850px;
        background-image: url('../../img/molisana-home.jpg');
    }
    /* prodotti */
    .container{
        .products-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            h2{
                flex-basis: 100%;
                text-transform: uppercase;
                text-align: center;
                margin: 30px 0;
                font-size: 32px;
                color: gray;
            }
            .cards{
                flex-basis: calc(100% / 3);
                position: relative;
                img{
                    width: 100%;
                }
                .layover{
                    width: 70%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    display: none;
                    border: 4px solid black;
                    padding: 20px 0;
                    background-color: white;
                    a{
                        width: 100%;
                        padding: 20px 0;
                        color: black;
                        font-weight: bold;
                        font-size: 25px;
                    }
                }
                &:hover{
                    opacity: .7;
                    cursor: pointer;
                }
                &:hover .layover{
                    display: block;
                }
            }
        }
    }
    /* / prodotti */
    /* news */
    .news-container{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        h2{
            flex-grow: 1;
            margin-bottom: 20px;
            font-size: 40px;
            text-align: center;
            text-transform: uppercase;
        }
        .box-container{
            width: 100%;
            padding: 60px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            background-image: url('../../img/fondo-pag-speciali.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            .box{
                flex-basis: 40%;
                height: 300px;
                margin: 20px 0;
                padding: 20px 40px;
                border: 4px solid gray;
                border-radius: 5px;
                background-color: white;
                font-size: 18px;
                line-height: 1.6;
            }
        }
    }
    /* / news */
    /* specifics */
    .specifics{
        h1{
            width: 100%;
            color: gray;
            text-align: center;
            margin-bottom: 40px;
        }
        img{
            width: 100%;
        }
        .description{
            margin: 40px auto;
            line-height: 1.8;
            font-size: 20px;
            font-style: italic;
            text-align: justify;
            p{
                margin-bottom: 40px;
            }
            .ico{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                i{
                    font-size: 28px;
                }
            }
        }
    }
    /* / specifics */
}